# URL del túnel Cloudflare hacia la instancia self-hosted de Supabase
VITE_SUPABASE_URL=https://tu-tunel-cloudflare.trycloudflare.com

# Llave anónima pública de tu Supabase
VITE_SUPABASE_ANON_KEY=eyJhbGci...
